:root {
    --color1: #1d1d33;
    --color2: #22223b;
    --color3: #2a2a4a;
    --color4: #4a4e69;
    --color5: #5c6182;
    --color6: #9a8c98;
    --color7: #ada1ab;
    --color8: #c9ada7;
    --color9: #d6c0bc;
    --color10: #f2e9e4;
    --color11: #f7f3f0;
    --color12: #fcfbfa;
    --max-width: 1250px;
    --padding-20: 0 20px;
    --height-page: 500px;
    --width-page: 100%;
}


body, html {
    margin: 0;
    font-family: Montserrat;
    letter-spacing: 0.4px;
    line-height: 27px;
    font-size: 17px;
    color: var(--color12);
}

/* ----------------------------górny-pasek-------------------------------------------- */

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--padding-20);
    height: 80px;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px var(--color5);
    z-index: 1000;
}
.top-bar-tekst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: var(--width-page);
}

.logo {
    font-size: 30px; /* Rozmiar czcionki */
    transition: color 0.3s ease;
}
.logo:hover {
    color: var(--color6); /* Kolor tekstu podczas najeżdżania */
}

.links {
    font-size: 20px;
    color: var(--color12);
    display: flex;
    gap: 40px;
}
.links span {
    transition: color 0.3s ease;
}
.links span:hover {
    color: var(--color6); /* Kolor tekstu podczas najeżdżania */
}
/* fajne to */
.logo, .links span {
    cursor: pointer;
}

/* ----------------------------strona1-------------------------------------------- */

.strona1-tlo {
    margin-top: 80px;
    padding: var(--padding-20);
    height: var(--height-page);
    background-color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.strona1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: var(--width-page);
    gap: 100px;
}

.strona1-tekst {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profilowe {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 30%;
    border: 5px solid var(--color9);
    box-shadow: 0 4px 10px var(--color5);
}

.kontakt {
    display: flex;
    gap: 30px;
    color: var(--color9);
    font-family: 'Times New Roman';
}

.email {
    color: var(--color9);
    text-decoration: none; /* Usuwa podkreślenie */
  }
  
.email:hover {
text-decoration: underline; /* Podkreślenie tekstu po najechaniu */
}
  

/* ----------------------------strona2-------------------------------------------- */

.strona2-tlo {
    padding: var(--padding-20);
    height: var(--height-page);
    background-color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.strona2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: var(--width-page);
}
