*,
*::before,
*::after {
  box-sizing: border-box;
} /* lepiej używać, elementy się nie rozjeżdżają */

:root {
  --color1: #1d1d33; /* najciemniejszy, top-bar jest nim zrobiony */
  --color2: #22223b; /* ciemny do ciemne tło */
  --color3: #2a2a4a; /* ciemny do jasne tło */
  --color4: #4a4e69;
  --color5: #5c6182; /* średnio szary do cieni */
  --color6: #9a8c98; /* kolor tekstu podczas najeżdżania i wszystkie bordery */
  --color7: #b3b2b3;
  --color8: #c9ada7;
  --color9: #d6c0bc; /* telefon, mail */
  --color10: #f2e9e4;
  --color11: #f7f3f0;
  --color12: #fcfbfa; /* kolor tekstu */

  --max-width: 1250px;
  --transition: 0.3s ease;
}

body,
html {
  margin: 0; /* usuwa domyślne marginesy */
  padding: 0;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.4px; /* zwiększa odstęp między literami */
  line-height: 27px; /* zwiększa odstęp między wierszami */
  font-size: 17px;
  color: var(--color12);
}

/* centruje elementy */
.flex-center {
  display: flex; /* włącza flexbox - zmienia układ na bardziej elastyczny */
  justify-content: center; /* wyrównuje elementy w poziomie do środka */
  align-items: center; /* wyrównuje elementy w pionie do środka */
}

/* rozkłada elementy max na boki */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* zazwyczaj flex robi w poziomie, to zamienia elementy na pion (układ pionowy)*/
.flex-col {
  display: flex;
  flex-direction: column;
}

/* Animacja zanikania/pokazywania */
.transition {
  transition: color var(--transition);
}

.container {
  max-width: var(--max-width); /* Max 1250px */
  width: 100%; /* 100% na małych ekranach */
}

/* ----------------------------top-bar-------------------------------------------- */

/* ustawia cały górny pasek */
.top-bar {
  position: fixed; /* Pasek jest przyklejony do góry */
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--color1);
  box-shadow: 0 4px 10px var(--color5);
  z-index: 1000; /* zawsze na wierzchu */
}

/* mówi jak ma wyglądać pierwszy element paska */
.top-logo {
  font-size: 30px;
  line-height: 30px;
}

/* mówi jak ma wyglądać drugi element paska */
.top-links {
  gap: 40px;
  font-size: 21px;
}

.top-logo,
.top-links span {
  /* span jest potrzebny, bo chce stylizować pojedyncze elementy w środku */
  cursor: pointer; /* zmiana kursora na wskazujący, sugerując, że element jest klikalny */
  transition: color var(--transition); /* płynna zmiana koloru podczas najeżdżania */
}

.top-logo:hover,
.top-links span:hover {
  color: var(--color6); /* Kolor tekstu podczas najeżdżania */
}

/* ----------------------------aboutme-------------------------------------------- */

.aboutme-tlo {
  padding-top: 80px;
  background: linear-gradient(135deg, var(--color3), var(--color2));
}

.aboutme {
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutme-tekst {
  flex: 1;
}

.aboutme-kontakt {
  display: flex;
  gap: 30px;
  color: var(--color9);
  font-family: "Times New Roman";
}

.aboutme-profilowe {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30%;
  border: 2px solid var(--color6);
  box-shadow: 4px 4px 10px var(--color5);
}

.aboutme-email {
  color: var(--color9);
  text-decoration: none; /* Usuwa podkreślenie */
}

.aboutme-email:hover {
  text-decoration: underline; /* Podkreślenie tekstu po najechaniu */
}

/* ----------------------------timeline-------------------------------------------- */

.timeline-tlo {
  padding-top: 30px;
  padding-bottom: 80px;
}
.timeline {
  gap: 50px; /* przerwa pomiędzy nagłówkiem, a resztą */
}

.timeline-rows {
  gap: 20px; /* przerwa między wierszami */
  width: 100%;
}

.timeline-item {
  display: grid; /* każde doświadczenie dzielimy na wiersze, żeby zrobić linię przechodzącą przez loga */
  grid-template-columns: 160px 200px 1fr;
}

.timeline-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color6);
  z-index: 2; /* loga mają być nad linią */
}

/* wrapper obudowuje img, żeby dało się nimi zarządzać */
.timeline-logo-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.timeline-logo-wrapper::after {
  content: ""; /* pseudo-element, który będzie linią przechodzącą przez loga */
  position: absolute; /* pozycjonowanie absolutne względem wrappera */
  height: calc(
    100% + 40px
  ); /* linia ma być trochę dłuższa niż logo, żeby przechodziła przez nie */
  width: 2px;
  background-color: var(--color6);
}

.timeline-item:last-child .timeline-logo-wrapper::after {
  display: none; /* ukrywa linię dla ostatniego elementu, żeby nie wychodziła poza ostatnie logo */
}

.timeline-opis {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, var(--color3), var(--color2));
  border: 1px solid var(--color6);
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.timeline-opis-h3 {
  margin: 0 0 6px 0;
}

.timeline-opis-h4 {
  margin: 0 0 8px 0;
  color: var(--color6);
}

/* ----------------------------experience-------------------------------------------- */

.exp-tlo {
  background-color: var(--color2);
}

/* ----------------------------education-------------------------------------------- */

.edu-tlo {
  background-color: var(--color3);
}

/* ----------------------------skills-------------------------------------------- */

.skills-tlo {
  background-color: var(--color2);
  padding-top: 30px;
  padding-bottom: 80px;
}

.skills {
  gap: 50px;
}

.skills-opis {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dwie kolumny o równej szerokości */
  gap: 70px;
}

.skills-block {
  background: linear-gradient(180deg, var(--color3), var(--color2));
  border: 1px solid var(--color6);
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.skills-tytul {
  display: flex;
  gap: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  padding-left: 20px;
}

.skills-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-grid span {
  margin: 10px;
}

.footer {
  background-color: var(--color2);
  color: var(--color5);
  font-size: 13px;
  padding: 10px;
  gap: 20px;
}
