body, html {
    margin: 0;
    background-color: #2a2a4a;
    font-family: 'Lucida Sans Unicode';
}

.top-bar {
    height: 80px; /* Wysokość kreski */
    background-color: #1d1d33;
    display: flex; /* Używamy Flexboxa do centrowania */
    align-items: center; /* Wyśrodkowanie w pionie */
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 30px;
    box-shadow: 0 4px 10px #5c6182;
}

.logo {
    font-size: 27px; /* Rozmiar czcionki */
    font-weight: 600;
    color: #fcfbfa; /* Kolor tekstu */
    transition: color 0.3s ease;
}
.logo:hover {
    color: #9a8c98; /* Kolor tekstu podczas najeżdżania */
}

.links {
    font-size: 20px;
    color: #fcfbfa;
    display: flex;
    gap: 40px;

}
.links span {
    transition: color 0.3s ease;
}
.links span:hover {
    color: #9a8c98; /* Kolor tekstu podczas najeżdżania */
}
/* fajne to */
.logo, .links span {
    cursor: pointer;
}
